# Playing around with Datasets

In [1]:
# Importing the python packages required
import pandas as pd

## Irish Weather Data
I found this dataset on kaggle.com. It is the daily weather (temp, precipitation, ..) from 25 weather stations across Ireland from the start of their recordings until 2018. Note: Earliest recordings from about 1965, some are only from 2003.
Let's Explore

In [26]:
# Reading in csv file stored locally 
# Setting the low_memory = False, since it complains otherwise. 
# Setting the type per colum didn't work
# Playong around with different datasets - 1. 'hrly_Irish_weather.csv 
#                                          2. aggregated_hourly_data.csv
    
irish_weather = pd.read_csv('aggregated_hourly_data.csv', low_memory = False)

In [27]:
print (irish_weather.head())

   Unnamed: 0                 date  ind  rain  ind.1  temp  ind.2  wetb  \
0           0  2007-12-31 02:00:00    0   0.0      0   9.2      0   8.0
1           1  2007-12-31 03:00:00    0   0.0      0   9.3      0   7.8
2           2  2007-12-31 04:00:00    0   0.0      0   9.3      0   7.7
3           3  2007-12-31 05:00:00    0   0.0      0   9.6      0   8.3
4           4  2007-12-31 06:00:00    0   0.0      0   9.8      0   8.5

   dewpt  vappr  ...  sun  vis  clht  clamt  county  st_id       st_name  \
0    6.6    9.8  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
1    5.9    9.3  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
2    5.8    9.2  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
3    6.8    9.9  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
4    7.1   10.1  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park

   st_height  st_lat  st_long
0         48  532149    62059
1         48  532149    62059
2         48  532149    62059
3         48  532149    62059
4         48  532149    62059

[5 rows x 28 columns]

In [28]:
print (irish_weather.dtypes)

Unnamed: 0      int64
date           object
ind             int64
rain          float64
ind.1           int64
temp          float64
ind.2           int64
wetb          float64
dewpt         float64
vappr         float64
rhum          float64
msl           float64
ind.3         float64
wdsp          float64
ind.4         float64
wddir         float64
ww            float64
w             float64
sun           float64
vis           float64
clht          float64
clamt         float64
county         object
st_id           int64
st_name        object
st_height       int64
st_lat          int64
st_long         int64
dtype: object

In [20]:
irish_weather = pd.read_csv ('hrly_Irish_weather.csv', dtype = {'county': str, 'station' : str, 'latitude' : float , 'longitude' : float, 
          'date' : str, 'rain' : str, 'temp' : str, 'wetb' : str, 'dewpt' : str, 
          'vappr' : str, 'rhum' : str, 'msl' : str , 'wdsp' : str ,'wddir' : str ,
          'sun' : str ,'vis' : str ,'clht' : str , 'clamt' : str})

In [29]:
print (irish_weather.head())

   Unnamed: 0                 date  ind  rain  ind.1  temp  ind.2  wetb  \
0           0  2007-12-31 02:00:00    0   0.0      0   9.2      0   8.0
1           1  2007-12-31 03:00:00    0   0.0      0   9.3      0   7.8
2           2  2007-12-31 04:00:00    0   0.0      0   9.3      0   7.7
3           3  2007-12-31 05:00:00    0   0.0      0   9.6      0   8.3
4           4  2007-12-31 06:00:00    0   0.0      0   9.8      0   8.5

   dewpt  vappr  ...  sun  vis  clht  clamt  county  st_id       st_name  \
0    6.6    9.8  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
1    5.9    9.3  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
2    5.8    9.2  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
3    6.8    9.9  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park
4    7.1   10.1  ...  NaN  NaN   NaN    NaN  Dublin    175  phoenix_park

   st_height  st_lat  st_long
0         48  532149    62059
1         48  532149    62059
2         48  532149    62059
3         48  532149    62059
4         48  532149    62059

[5 rows x 28 columns]

In [17]:
print (irish_weather.dtypes)

county        object
station       object
latitude     float64
longitude    float64
date          object
rain          object
temp          object
wetb          object
dewpt         object
vappr         object
rhum          object
msl           object
wdsp          object
wddir         object
sun           object
vis           object
clht          object
clamt         object
dtype: object

In [30]:
print(irish_weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2962043 entries, 0 to 2962042
Data columns (total 28 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   date        object
 2   ind         int64
 3   rain        float64
 4   ind.1       int64
 5   temp        float64
 6   ind.2       int64
 7   wetb        float64
 8   dewpt       float64
 9   vappr       float64
 10  rhum        float64
 11  msl         float64
 12  ind.3       float64
 13  wdsp        float64
 14  ind.4       float64
 15  wddir       float64
 16  ww          float64
 17  w           float64
 18  sun         float64
 19  vis         float64
 20  clht        float64
 21  clamt       float64
 22  county      object
 23  st_id       int64
 24  st_name     object
 25  st_height   int64
 26  st_lat      int64
 27  st_long     int64
dtypes: float64(17), int64(8), object(3)
memory usage: 632.8+ MB
None

In [31]:
print (irish_weather.describe())

         Unnamed: 0           ind          rain         ind.1          temp  \
count  2.962043e+06  2.962043e+06  2.935663e+06  2.962043e+06  2.959926e+06
mean   1.481021e+06  2.255933e-01  1.278044e-01  8.174426e-03  9.934890e+00
std    8.550683e+05  9.540711e-01  4.875404e-01  1.293499e-01  4.796106e+00
min    0.000000e+00 -1.000000e+00  0.000000e+00  0.000000e+00 -1.730000e+01
25%    7.405105e+05  0.000000e+00  0.000000e+00  0.000000e+00  6.700000e+00
50%    1.481021e+06  0.000000e+00  0.000000e+00  0.000000e+00  1.010000e+01
75%    2.221532e+06  0.000000e+00  0.000000e+00  0.000000e+00  1.340000e+01
max    2.962042e+06  8.000000e+00  4.140000e+01  4.000000e+00  3.150000e+01

              ind.2          wetb         dewpt         vappr          rhum  \
count  2.962043e+06  2.958805e+06  2.958936e+06  2.933313e+06  2.934361e+06
mean   1.262068e-02  8.624017e+00  7.183330e+00  1.057122e+01  8.365543e+01
std    1.786757e-01  4.398357e+00  4.526514e+00  3.181859e+00  1.180578e+01
min    0.000000e+00 -9.990000e+01 -1.870000e+01  1.400000e+00  2.000000e+01
25%    0.000000e+00  5.600000e+00  3.900000e+00  8.100000e+00  7.700000e+01
50%    0.000000e+00  8.900000e+00  7.400000e+00  1.030000e+01  8.600000e+01
75%    0.000000e+00  1.190000e+01  1.060000e+01  1.270000e+01  9.300000e+01
max    6.000000e+00  2.380000e+01  2.250000e+01  2.720000e+01  1.000000e+02

       ...             ww              w            sun            vis  \
count  ...  669587.000000  669586.000000  712743.000000  662524.000000
mean   ...      17.006486      33.166534       0.155844   26919.268691
std    ...      23.582925      28.756767       0.316470   15136.736369
min    ...       0.000000       0.000000       0.000000       5.000000
25%    ...       2.000000      11.000000       0.000000   17000.000000
50%    ...       2.000000      11.000000       0.000000   25000.000000
75%    ...      25.000000      62.000000       0.100000   40000.000000
max    ...      97.000000      99.000000       1.000000   75000.000000

                clht          clamt         st_id     st_height        st_lat  \
count  712738.000000  712738.000000  2.962043e+06  2.962043e+06  2.962043e+06
mean      251.403396       5.825856  1.580524e+03  5.913324e+01  5.305150e+05
std       393.416669       2.376519  1.191509e+03  4.444958e+01  9.813818e+03
min         0.000000       0.000000  1.750000e+02  9.000000e+00  5.128350e+05
25%        16.000000       5.000000  5.750000e+02  2.200000e+01  5.217520e+05
50%        40.000000       7.000000  1.275000e+03  4.800000e+01  5.321490e+05
75%       200.000000       8.000000  2.175000e+03  7.800000e+01  5.354220e+05
max       999.000000       9.000000  4.935000e+03  2.010000e+02  5.522190e+05

            st_long
count  2.962043e+06
mean   7.914620e+04
std    1.202449e+04
min    6.142700e+04
25%    6.545500e+04
50%    8.144000e+04
75%    8.593300e+04
max    1.014270e+05

[8 rows x 25 columns]

ValueError: could not convert string to float: ' '

In [25]:
#reading in another weather dataset, to see if I come across the same data typing issues
irish_weather_2 = pd.read_csv('aggregated_hourly_data.csv', low_memory = False)